body {
  font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 40px;
  box-sizing: border-box;
}

div {
  display: block;
}

.similarListings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 648px;
  height: 420px;
  margin-left: 8px;
  margin-left: 8px;
}

.similarListingsTitle {
  width: 648px;
  height: 36px;
  margin-bottom: 24px;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.6px;
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.6px;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #484848;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.similarExp {
  font-size: 0px;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 22px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: slider-horizontal;
  display: block;

}

.similarListing_container {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background: #ffffff;
  color: #484848;
  width: 648px;
  height: 360px;
}

.similarListing_img {
  height: 222px;
  width: 333px;
  position: relative;
  z-index: 0;
}

.like {
    position: absolute;
    right: 16px;
    top: 16px;
    z-index: 2;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: buttontext;
  border: 0px;
  display: block;
}

button {
  padding:0px;
  margin:0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.image {
  position: relative;
  padding-top: 66.6667%;
  background: rgb(216, 216, 216);
  position: relative;
  z-index: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  overflow: hidden;

  animation-timing-function: ease-out;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.img {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 222px;
  width: 333px;
}

.similarListing_category {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 22px;


  padding-top: 8px;
}

.similarListing_top {
  line-height: 16px;
  max-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-transform: uppercase;

  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: rgb(3, 21, 13);
  font-weight: 700;
}

.similarListing_title {
  margin-top: 2px;

  line-height: 22px;
  max-height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 19px;

  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 19px;
  line-height: 22px;
  letter-spacing: undefined;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
  font-weight: 700;
}

.similarListing_price {
  margin-top: 2px;
  float: left;
  color: #484848;
  box-sizing: border-box;

  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
  font-weight: 300;
  display: inline;


  position: absolute;
  display: block;
  border: 0px;
  margin: -1px;
  padding: 0px;
  height: 1px;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  text-transform: lowercase;
}

.ratings {
  line-height: normal;
  max-height: 24px;
  width: 72.34px;
  height: 23;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: inline-block;
}

.stars {
  vertical-align: middle;
  line-height: 21px;
  margin-right: 2px;
  display: inline-block;
  color: #008489;
  font-size: 9px;
  height: 22px;
  width: 50px;
  margin-right: 1px;
}

.reviews {
  width: 20.33px;
  height: 22px;
  line-height: 21px;
  font-weight: normal;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
  display: inline;
}

.app {
  max-width: 1032px;
}
